<%- include('partials/header', { title: 'crypto' }) %>
    <div class="max-w-4xl mx-auto p-6 bg-white rounded-lg shadow-md mt-10">
        <h1 class="text-3xl font-bold mb-6 text-center">Top 5 Cryptocurrencies by Market Cap</h1>
        <table class="min-w-full bg-white">
            <thead class="bg-gray-800 text-white">
                <tr>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Name</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Symbol</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Current Price</th>
                    <th class="w-1/4 py-3 px-4 uppercase font-semibold text-sm">Market Cap</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
                <% cryptos.forEach(crypto => { %>
                    <tr>
                        <td class="w-1/4 py-3 px-4"><%= crypto.name %></td>
                        <td class="w-1/4 py-3 px-4"><%= crypto.symbol.toUpperCase() %></td>
                        <td class="w-1/4 py-3 px-4">$<%= crypto.current_price.toFixed(2) %></td>
                        <td class="w-1/4 py-3 px-4">$<%= crypto.market_cap.toLocaleString() %></td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>


    <%- include('partials/footer') %>
